resources:
- name: my-function
  type: {{ env['project'] }}/composite:cloud-function
  properties:
    function: {{ env['deployment'] }}
    codeLocation: function/
    codeBucket: $(ref.bucket-stage-function.name)
    description: This is a description for the app function
    entryPoint: handler
    location: eu-west1
    timeout: 540s
    runtime: node8
    availableMemoryMb: 1024
    environmentVariables:
- name: bucket-stage-function
  type: gcp-types/storage-v1:buckets
  properties:
    name: {{ env['project'] }}-stage-function
    predefinedAcl: projectPrivate
    projection: full
    location: EU
    storageClass: STANDARD
